.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25589c;
  background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
  height: auto;
}
.contIndex {
  padding-top: 100px;
}
.img {
  padding-bottom: 40px;
}
